{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <h1>Your shopping cart</h1>
  <table>
    <thead>
      <th>Image</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Remove</th>
      <th>Unit price</th>
      <th>Price</th>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="#">
                <img src="" alt="" />
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url 'cart:cart_remove' product.id %}">Remove</a></td>
            <td>{{ item.price }}</td>
            <td>{{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}

      {% if cart.coupon %}
        <tr class="subtotal">
          <td>Subtotal</td>
          <td colspan="4"></td>
          <td>${{ cart.get_total_price }}</td>
        </tr>
        <tr>
          <td>
            "{{ cart.coupon.code }}" coupon
            ({{ cart.coupon.code }}% off)
          </td>
          <td colspan="4"></td>
          <td>- ${{ cart.get_discount|floatformat:"2" }}</td>
        </tr>
      {% endif %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td>${{ cart.get_total_price_after_discount|floatformat:"2" }}</td>
      </tr>
    </tbody>
  </table>

  <div class="">
    <p>Apply a coupon:</p>
    <form action="{% url 'coupons:apply' %}" method="post">
      {{ coupon_apply_form }}
      <input type="submit" value="Apply">
      {% csrf_token %}
    </form>
  </div>

  <p>
    <a href="{% url 'shop:product_list' %}">Continue shopping</a>
    <a href="{% url 'orders:order_create' %}">Checkout</a>
  </p>
{% endblock %}
